/* Tablet and Mobile */

@media only screen and (max-width:768px) {

    body {
	    font-size: 15px;
	    line-height: 1.6;
	    padding: 0;
    }

    .logo-wrap {
    	padding: 20px 20px 5px 20px;
    }

    .logo-text {
	    padding: 0;
	    margin-bottom: 0;
    }

    .fixed-bar {
    	position: relative;
    	height: auto;
    	top: auto;
    	display: inline-block;
    }

    .fixed-bar-inside {
    	padding: 0 20px;
    }

    .author-profile {
    	position: relative;
    	top: auto;
    }

    .author-profile-inside {
    	padding: 0;
    	max-width: 100%;
    }

    .menu-toggle {
    	display: inline-block;
    }

    .menu-toggle:hover {
    	color: #fff;
    }

    .navatar-badge {
    	margin-top: 12px;
    }

    .author-profile {
    	margin-bottom: 20px;
    	padding: 10%;
	}

	.author-profile-inside {
		max-width: 100%;
	}

	.author-avatar {
		width: 100%;
		text-align: center;
	}

	.author-description {
		width: 100%;
		font-size: 16px;
	}

	.author-description h2 {
		font-size: 30px;
		text-align: center;
		margin: 5% 0;
	}

	.author-description ul {
		margin-top: 3%;
	}

    .header {
    	position: relative;
    	width: 100%;
    	padding: 2% 20px;
    	margin-bottom: 0;
    }

    .header hgroup {
	    float: none;
    }

    .logo-image {
    	margin-bottom: 0;
    }

    .header-nav {
	    display: none;
	    background: #272C30;
	    margin-bottom: 20px;
	    width: 100%;
    }

    .header-nav li {
    	display: inline-block;
    	width: 100%;
    	border-bottom: dotted 1px rgba(255,255,255,.15);
    }

    .fixed-bar .header-nav ul ul {
    	display: block;
    	position: relative;
    	top: auto;
    	left: 0;
    	width: auto;
    	padding-left: 5%;
    }

    .header .widget {
    	padding-bottom: 5%;
    	margin-bottom: 5%;
    }

	#drawer {
		width: 100%;
		position: relative;
		padding: 0 0;
	}

	#drawer-inside {
		padding: 20px;
	}

	#drawer-toggle {
		display: none;
	}

	#drawer-inside .widget {
		padding: 20px 0 20px 0;
		width: 100%;
		border-bottom: solid 1px #393939;
	}

	#drawer-inside .widget:last-child {
		border-bottom: none;
	}

    .post {
	    margin-bottom: 25px;
	    padding-bottom: 0;
    }

    .page .post .box {
	    padding-bottom: 0;
    }

    #main {
    	float: left;
		width: 100%;
		padding: 20px;
	}

	.post .box-wrap {
		padding: 20px 20px 0 20px;
	}

	.format-status .box-wrap {
		padding: 0;
	}

	.status-wrap .box {
		padding: 0 20px 0 65px !important;
	}

	.status-wrap .entry-title {
		margin-bottom: 10px;
		line-height: 30px;
		font-size: 26px;
	}

	.status-wrap .date-title {
		right: 15px;
	}

	.post .box {
		width: 100%;
		padding: 0;
	}

	.date-title {
		position: relative;
		display: inline-block;
		top: auto;
		left: auto;
		border-radius: 2px;
		padding: 0 10px;
	}

	.entry-title {
		font-size: 28px;
		line-height: 34px;
		letter-spacing: 0;
		padding: 0;
	}

	.intro {
		margin: 15px 0 12px 0;
	}

	.post .post-content {
		padding-bottom: 20px;
	}

	#content p {
		margin-bottom: 20px;
	}

	#content .meta {
		padding: 15px 20px 10px 20px;
	}

	#content .meta span {
		margin-bottom: 0;
	}

	#content .meta li {
		width: 100%;
		max-width: 100%;
		display: inline-block;
		border-right: none;
		border-bottom: solid 1px #e9e9e9;
		padding-bottom: 8px !important;
		padding-top: 10px !important;
		margin-bottom: 0 !important;
	}

	blockquote {
		padding-top: 30px;
		margin: 0 0 30px 0 !important;
		word-wrap: break-word;
	}

	.format-quote {
		font-size:28px;
	    letter-spacing: 0;
	    line-height: 32px;
	}

	.format-quote .box {
		padding: 10px 0 40px 0;
	}

	.next-prev {
		display: none;
	}

	#content .post-nav {
		margin: 5% 0;
	}

	#content .post-nav a {
		font-size: 15px;
		padding: 10px 15px;
	}

	#comments {
		padding-bottom: 0;
	}

	.comments-wrap {
		width: 100;
		margin: 0 auto;
		padding: 30px;
	}

	.comments-open {
		margin-bottom: 40px !important;
	}

	.commentlist li {
		padding: 0 0 5px 0;
		margin: 0 0 35px 0;
	}

	.commentlist > li:before {
		display: none;
	}

	#comments-title {
		margin: 0 0 0 0;
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 0;
		padding: 15px 30px;
		text-align: center;
	}

	.comments-open #comments-title {
		margin-bottom: 40px;
	}

	.comment-meta {
		margin: 0 0 0 15px;
	}

	.fn {
		float: none;
	}

	.comment-text {
	}

	#respond {
		padding-bottom: 0px;
	}

	#respond h3 {
		margin-top: 0;
	}

	#respond input[type="text"], #respond textarea {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#respond .respond-submit {
		width: 100%;
	}

	.comments .logged-in {
		font-size: 14px;
	}

	#commentform #submit {
		width: 100%;
		display: block;
	}

	.copyright {
		margin: 20px 0 40px 0;
		width: 100%;
	}

	.archive-col {
		width: 100%;
	}
}


/* Tweaking for iPad Landscape */
@media all and (device-width: 769px) and (device-height: 1024px) {

	.header {
		width: 250px;
		padding: 50px 25px 50px 25px;
	}

	#wrapper {
	    padding: 50px 75px 0 250px;
	}

	#drawer-toggle {
		top: 50px;
	}

	#drawer-inside .widget {
		width: 19%;
		padding: 50px 0 50px 40px;
	}

	.post .box {
		padding: 40px 100px 15px 100px;
	}

	.date-title {
		padding-left: 10px;
	}

	#content .meta {
		margin: 23px -100px -7px -100px !important;
		padding: 0 100px 18px 100px;
	}

	#content .meta li {
		width: 80px;
		margin: 0 10px 20px 0 !important;
	}
}

/* Mobile */

@media only screen and (max-width:500px) {
	.author-profile {
    	margin-bottom: 20px;
    	padding: 8%;
	}

	.author-description ul li span {
		display: inline-block;
		width: 100%;
	}
}